<h1>Statistics#index</h1>
<p>Find me in app/views/statistics/index.html.erb</p>

<% act = [] %>
<% @get_activity.each do |a| %>

  <% if act.empty? %>
    <%act.push(a.activity)%>
  <% elsif a.activity != act[-1] %>
     <% act.push(a.activity) %>
  <% end %>
  <%= a.activity %>
  <!-- <%= a.minutes %> -->
<% end %>

<%= act %>

<%= line_chart @activity.group(:date).sum(:minutes) %>

<%= line_chart @activity.group(:date).sum(:minutes) %>

<!-- <%= line_chart User.group_by_day(:created_at).count %> -->
