<%= @user.name %>, <%= @user.email %>

<div class="col-md-8" id="activity-display">
  <% if @user.activities.any? %>
    <h3>Activities (<%= @user.activities.count %>)</h3>
    <ol class="activities">
      <%= render @activities %>
    </ol>
    <%= will_paginate @activities %>
  <% end %>
</div>
