<div class="">
  <%= form_for(@activity) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field edit-activity">
      <h1>This is the edit form</h1>
      <%= f.text_area :date, placeholder: "@activity.date" %>
      <%= f.text_area :activity, placeholder: "@activity.activity" %>
      <%= f.text_area :comments, placeholder: "@activity.comment" %>
      <%= f.text_area :minutes, placeholder: "@activity.minutes" %>
      <br>
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
