<!DOCTYPE html>
<html>
  <head>
    <title>YesIStillWorkout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <div class="container">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
  </body>
</html>
